<!--<button mat-raised-button (click)="getSpreadSheet()">get sheet</button>-->
<div class="flex-display" style="padding: 1em 1em 0 1em">
  <mat-form-field appearance="outline" >
    <mat-label> Liquid Sheet Name </mat-label>
    <input matInput [(ngModel)]="liquidSheetname"/>
  </mat-form-field>
  <button mat-raised-button (click)="saveSpreadSheet()" style="margin: 0 0 20px 10px">Save Liquid Sheet</button>

</div>
<div>
  <hot-table
    [hotId]="hotId"
    [settings]="gridSettings"
    [colHeaders]="true"
    [rowHeaders]="true"
    licenseKey="non-commercial-and-evaluation">
  </hot-table>
</div>

